<div class="my-3">
    <h5 [ngClass]="{'strike': !home.active}">{{home.title}}</h5>
    <p [ngClass]="{'strike': !home.active}">{{home.desc}}</p>
    <button class="btn btn-sm btn-danger" (click)="onClick(home)" >Delete</button>
    <br/>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onCheckBoxClick(home)" [checked]="!home.active">
        <label class="form-check-label" for="exampleCheck1">Delivered</label>
      </div>
</div>
